*.class

# Package Files #
*.jar
*.war
*.ear

capricorn-ios/capricorn-ios.xcodeproj/xcuserdata/msk.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

capricorn-ios/capricorn-ios.xcodeproj/project.xcworkspace/xcuserdata/msk.xcuserdatad/UserInterfaceState.xcuserstate

capricorn-ios/www/javascripts/main.js.BASE.80700.js

capricorn-ios/www/javascripts/main.js.BACKUP.80700.js

capricorn-ios/www/javascripts/main.js.REMOTE.80700.js

capricorn-ios/www/javascripts/main.js.LOCAL.80700.js
