#menu {
  width: 165px;
  height: 100%;
  margin: 2px 0px 0px 0px;
  display: block !important;
  float: left;
  visibility: hidden;
  background-color: #373737;
}
#menu h3{
	font-family:arial;
	font-size:12px;
	color:#fff;
	margin:-2px 0;
	background-color:#373737;
	padding:4px 0 4px 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #343434), color-stop(85%, #151515));
	border-top:solid #333333 1px;
	border-bottom:solid #282828 1px;
	text-shadow: 0px -1px 1px #333;
}
#menu ul {
  margin: 0;
  padding: 0;
  width: inherit;
}
#menu ul li {
  list-style-type: none;
  margin: 0px 0;
}
#menu ul li a:link, #menu ul li a:visited {
  border-bottom: solid #282828 1px;
  /*box-shadow: 0 1px 0 #282828;*/
  color: #fff;
  font-size: 14px;
  font-family: arial;
  text-decoration: none;
  /*width: 165px;*/
  display: block;
  padding: 10px 0px 10px 10px;
  /*text-shadow: 0px 1px 1px #000000;*/
}
#menu ul li a:active {
  background-color: #716f6f;
}
.active {
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313030), color-stop(21%, #545353));
}
.active{
	color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(21%, #262626));
	text-shadow: 0px 1px 1px #000;
}




