<a class="activity-lst" data-transition="slide">
	<div style="margin-top:8px; padding-bottom:4px;" class="answer-box drop-shadow curved curved-hz-1">
		<img src="css/images/gotoNext.png" style="position:absolute; right:10px;"/>
	    <table style="width:100%;">
	        <tr>
	            <td  colspan="2"><span style="color: #9f9f9f;"><%= prefix %></span> <%= activity %> </td>
	        </tr>
	        <tr>
	            <td><div style="text-align:right; font-size:12px; margin:0px;" class="post-footer"><%= timestamp %>
	            </div></td>
	        </tr>
	    </table>
	</div>
</a>