<div class="question-view-hdr drop-shadow curved curved-hz-1 ">
    <img src="css/images/questionFlag_Black_40.png" style="width:40px; position:absolute; right:30px; top:-3px;"></img>
    <div style="text-shadow:none; width:30px; text-align:center; color:#fff; font-weight:bold; position:absolute; right:35px; top:8px; font-size:20px;">10</div>
    <table style="border-bottom: 1px solid #d7d7d7; padding:0 0 10px 0; width:100%;">
        <tr>
            <td rowspan="2" style="width:55px;"><div class="crop"><img src="<%= pic %>" style="width:50px;"/></div></td>
            <td><div class="username"><%= name %></div></td>
        </tr>
        <tr>
            <td><div class="faculty" style="text-align:left;">School of Computing</div></td>
        </tr>
    </table>
    <div style="height:25px;">
        <a id="all-btn"><div style="padding:10px 0; font-size:14px; font-weight:bold;">Show All</div><a>
        <div style="width:24px; font-size:12px; position:absolute; right:200px; bottom:15px; color:#a6a5a5">Filter:</div>
        <a id="qn-btn">
            <img src="css/images/comment-Blue-24X24.png" style="width:24px; position:absolute; right:160px; bottom:10px;" class="comment-btn"></img>
            <div style="width:24px; position:absolute; right:132px; bottom:14px; color:#a6a5a5"><%= totalQns %></div>
        </a>
        <a id="ans-btn">
            <img src="css/images/comment-Blue-24X24.png" style="width:24px; position:absolute; right:100px; bottom:10px;" class="comment-btn"></img>
            <div style="width:24px; position:absolute; right:72px; bottom:14px; color:#a6a5a5"><%= totalAns %></div>
        </a>
        <a id="cmnt-btn">
            <img src="css/images/comment-Blue-24X24.png" style="width:24px; position:absolute; right:40px; bottom:10px;" class="comment-btn"></img>
            <div style="width:24px; position:absolute; right:12px; bottom:14px; color:#a6a5a5"><%= totalAnsComm %></div>
        </a>
    </div>
</div>