<div class="answer-box drop-shadow curved curved-hz-1">
    <img class="rating-img" src="<%= ratingImg %>" style="width:40px; position:absolute; right:15px; top:-3px;"></img>
    <div style="text-shadow:none; width:30px; text-align:center; color:#fff; font-weight:bold; position:absolute; right:21px; top:12px;"><%= rating %></div>
    <table style="border-bottom: 1px solid #d7d7d7; padding:0 0 10px 0; width:100%;">
        <tr>
            <td style="width:40px;"><div class="crop"><img src="<%= userFacebookPic %>"/></div></td>
            <td><div class="post-footer"><%= answeredBy %> answered</div></td>
        </tr>
        <tr>
            <td  colspan="2"><%= content %></td>
        </tr>
    </table>
    <div style="height:25px;">
        <a class="attachment-btn"><img src="css/images/attachmentIcon.png" style="position:absolute; bottom:8px; left:-11px; visibility:<%= imgVisible %>" attachmentUrl="<%= imgurl %>"></img></a>
        <a class="like-btn"><img src="<%= likeImg %>" style="width:24px; position:absolute; right:150px; bottom:10px; opacity:0.7" ></img></a>
        <a class="dislike-btn"><img src="<%= dislikeImg %>" style="width:24px; position:absolute; right:100px; bottom:10px; opacity:0.7"></img></a>
        <a class="comment-btn" data-transition="flip" href="#showAnswer"><img src="css/images/comment-Grey-24X24.png" style="width:24px; position:absolute; right:50px; bottom:10px;"></img></a>
        <div style="width:24px; position:absolute; right:20px; bottom:14px; color:#a6a5a5"><%= commentsCount %></div>
    </div>
</div>