<div style="margin-top:0px;" class="answer-box drop-shadow curved curved-hz-1">
    <img src="<%= ratingImg %>" style="width:40px; position:absolute; right:15px; top:-3px;"></img>
    <div style="text-shadow:none; width:30px; text-align:center; color:#fff; font-weight:bold; position:absolute; right:21px; top:12px;"><%= rating %></div>
    <table style="border-bottom: 1px solid #d7d7d7; padding:0 0 10px 0; width:100%;">
        <tr>
            <td style="width:40px;"><div class="crop"><img src="<%= userPic %>"/></div></td>
            <td><div class="post-footer"><%= answeredBy %> answered</div></td>
        </tr>
        <tr>
            <td  colspan="2"><%= content %></td>
        </tr>
    </table>
    <div style="height:25px;">
        <a id="like-btn-av"><img src="<%= likeImg %>" style="width:24px; position:absolute; right:150px; bottom:10px; opacity:0.7"></img></a>
        <a id="dislike-btn-av"><img src="<%= dislikeImg %>" style="width:24px; position:absolute; right:100px; bottom:10px; opacity:0.7"></img></a>
        <a id="comment-btn-av"><img src="css/images/comment-Blue-24X24.png" style="width:24px; position:absolute; right:50px; bottom:10px;"></img>
        <div style="width:24px; position:absolute; right:20px; bottom:14px; color:#a6a5a5"><%= commentsCount %></div></a>
    </div>
</div>