<div class="answer-box drop-shadow curved curved-hz-1">
    <img src="<%= ratingImg %>" style="width:40px; position:absolute; right:15px; top:-3px;"></img>
    <div style="text-shadow:none; width:30px; text-align:center; color:#fff; font-weight:bold; position:absolute; right:21px; top:12px;"><%= rating %></div>
    <table style="border-bottom: 1px solid #d7d7d7; padding:0 0 10px 0; width:100%;">
        <tr>
            <td style="width:40px;"><img src="css/images/amu.png" style="width:40px;height:40px;"/></td>
            <td><div class="post-footer"><%= answeredBy %> answered</div></td>
        </tr>
        <tr>
            <td  colspan="2"><%= answer %></td>
        </tr>
    </table>
    <div style="height:25px;">
        <img src="css/images/likeButton-Grey-24X24.png" style="width:24px; position:absolute; right:150px; bottom:10px; opacity:0.7" class="like-btn"></img>
        <img src="css/images/dislikeButton-Grey-24X24.png" style="width:24px; position:absolute; right:100px; bottom:10px; opacity:0.7" class="dislike-btn"></img>
        <a href="#page3" data-transition="flip" onlclick="test.loadPage3()"><img src="css/images/comment-Grey-24X24.png" style="width:24px; position:absolute; right:50px; bottom:10px;" class="comment-btn"></img></a>
        <div style="width:24px; position:absolute; right:20px; bottom:14px; color:#a6a5a5"><%= commentsCount %></div>
    </div>
</div>