<div style="margin-top:10px;" class="answer-box drop-shadow curved curved-hz-1">
    <table style="width:100%;">
        <tr>
            <td rowspan="2" style="width:40px; vertical-align:top;"><div class="crop"><img src="https://is1.4sqi.net/pix/PPO5DUVTBSGQWUQSGI52RU4155SSWZJR2PEFBUZR14LKDMJS.png"/></div></td>
            <td><div style="margin-left:10px; font-weight:bold;">Scholar</div></td>
        </tr>
        <tr>
            <td><div class="post-footer" style="margin:0 10px;">You have immense knowledge. Keep sharing your knowledge.</div></td>
        </tr>
    </table>
    <div class="tag-lst" style="margin-top:5px; border-top: 1px solid #d7d7d7; padding:6px 0 0 0;">
        <label class="tag">Java</label>
        <label class="tag">Grails</label>
    </div>
</div>