<div style="margin-top:8px; padding-bottom:4px;" class="answer-box drop-shadow curved curved-hz-1">
    <table style="width:100%;">
        <tr>
            <td  colspan="2"><%= content %></td>
        </tr>
        <tr>
            <td><a href="#activityPage" data-transition="slide" class="post-footer-2" onclick="router.gotoActivityView(<%= uid %>);"><div style="text-align:right; font-size:12px; margin:0px;">by <%= commentBy %>
            </div></a></td>
        </tr>
    </table>
</div>