<div style="margin-top:0px; padding-bottom:4px;" class="answer-box drop-shadow curved curved-hz-1">
    <table width="100%">
        <tr width="100%">
            <td colspan="2" style="text-align:center; border-bottom:1px solid #d7d7d7; padding:10px;">
                <img src="css/images/facebook.png" width="120px;"/>
            </td>
        </tr>
        <tr id="fb-row">
            <td width="35%" style="padding:10px 0;">
                <div class="crop" style="float:right;"><img id="fb-pic" src="nil"/></div>
            </td>
            <td style="text-align:left;">
                <span class="post-footer">You are logged in as</span><br/><span id="fb-username" style="margin:10px;">Facebook User</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><a id="fb-btn" data-theme="a" data-role="button"><%= fbButtonStatus %></a></td>
        </tr>
    </table>
</div>
<div style="margin-top:20px; padding-bottom:4px;" class="answer-box drop-shadow curved curved-hz-1">
    <table width="100%">
        <tr width="100%">
            <td colspan="2" style="text-align:center; border-bottom:1px solid #d7d7d7; padding:10px;">
                <img src="css/images/nusIvle.png" width="120px;"/>
            </td>
        </tr>
        <tr id="ivle-row">
            <td colspan="2" style="text-align:center; padding-top:10px;">
                <div style="text-align:center;">
                    <span class="post-footer">You are logged in as</span><br/><span id="ivle-username" style="margin:10px;">IVLE User</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><a id="ivle-btn" data-theme="a" data-role="button"><%= ivleButtonStatus %></a></td>
        </tr>
    </table>
</div>