<div style="margin-top:10px;" class="answer-box drop-shadow curved curved-hz-1">
    <table style="width:100%;">
        <tr style="margin-bottom:5px;">
            <td>
                <%= name %>
            </td>
            <td  style="text-align:right;">
                <div style="color: #9f9f9f; font-size:14px;">
                    Your score: <%= userTagScore %> out of <%= maxTagScore %>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="bar-back" style="background-color:#d7d7d7; width:100%; height:10px;"></div>
                <div class="bar-front" style="background-color:<%= color %>; width:50%; height:10px; left:15px; margin-top:-10px;"></div>
            </td>
        </tr>
    </table>
</div>