<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
   xmlns:rim="http://www.blackberry.com/ns/widgets" 
   version="1.0.0.0" rim:header="WebWorks Sample">

   <name>CapBB</name>
   <description>This is a sample application.</description>
   <content src="index.html"/>
   <author>Amulya Khare</author>
   <authorId>gYAAgLLKc_57kjYAsSBO1oZOczA</authorId>
   <feature id="blackberry.media.camera" />
   <feature id="blackberry.io.dir" />
   <feature id="blackberry.io.file" />
   <rim:permit>use_camera</rim:permit>
   <rim:permit>access_shared</rim:permit>
</widget>