<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
   xmlns:rim="http://www.blackberry.com/ns/widgets" 
   version="1.0.0.0" rim:header="WebWorks Sample">

   <name>QuestioNUS</name>
   <description>Find answers to all your everyday questions in NUS. Leave no questions unanswered.</description>
   <content src="index.html"/>
   <author>Amulya Khare</author>
   <authorId>gYAAgLLKc_57kjYAsSBO1oZOczA</authorId>
   <feature id="blackberry.media.camera" />
   <feature id="blackberry.io.dir" />
   <feature id="blackberry.io.file" />
   <feature id="blackberry.polarmobile.childbrowser" />
   <rim:permit>use_camera</rim:permit>
   <rim:permit>access_shared</rim:permit>
</widget>